*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* header section start */
.hero-bg{
  background-image: url("Assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; 
  padding: 0; 
  width: 100%;
  height: 100vh;
}
.navber{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px 50px 150px;

}
.logo{
    color: #4e47ff;
    font-size: 34px;
    font-weight: bold;
}
button{
    background-color: #4E47FF;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    border:none;
    font-size: 16px;
}
button:hover{
    background-color: rgb(0, 6, 114);
    color: #fff;
}

.navber-title{
    text-align: center;
    margin: 203px 267px 0px 267px;
    font-size: 65px;
    color:#252432;
}
.heding-navber{
    text-align: center;
}
.button2{
    margin-top: 40px;
}

/* header section end */

/* main-section-start */
/* action section start */
.section-action{
    display: flex;
    justify-content: space-between;
    margin: 80px 141px 50px 159px;
    
}
.action-title{
    font-size: 42px;
    color: #252432;
    font-weight: bold;
    margin-top: 50px;

}
.pragarph{
    font-size: 24px;
    color:#252432;
    margin-top: 15px;
}
.action-photo{
    background-image: url(Assets/wc-big.png);
    background-repeat: no-repeat;
    width: 403px;
    height: 328px;
    border-radius: 25px;
    margin-top: 30px;


}
.button3{
    margin-top: 50px;
}
/* action section end */

/* reting section start  */
.container-reting{
    margin: 116px 159px 50px 141px;
    background-color: #d0cefd;
    border-radius: 24px;
    
}
.content-title{
    text-align: center;
    color: #252432;
    font-size: 38px;
    padding-top: 50px;
}
.mark-title{
    display: flex;
    justify-content: space-between;
    padding: 20px 142px 0 110px;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    gap:70px;
}
.users{
    display: flex;
    justify-content: space-between;
    padding: 10px 180px 50px 180px;
    opacity: 0.6;

}
.user{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    
}
.focus{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.rate{
    font-size: 20px;
    font-weight: bold;
    color:#333
}
/* reting section end */

/* container-reviewer-start */

.container-box{
    display: flex;
    justify-content: space-between;
   margin-top: 50px;
    gap:20px;
    
}
.container-reviewer{
  margin: 137px 149px 50px 151px;
   
}
.content-reviewer{
     padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     border-radius: 14px;
     
}
.reviewer-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;

}
.star-icon{
    margin-top: 24px;
    margin-left: 24px;
}
.star-icon ul{
    display: flex;
    list-style: none;

}
.star-icon ul li{
      text-decoration: none;
}
.user-title{
    margin-top: 24px;
    margin-left: 24px;
    font-size: bold;
}
.user-pragraph{
    margin-top: 24px;
    margin-left: 24px;
    color: #333;
}
.content-name{
    display: flex;
    margin-top: 24px;
    margin-left: 24px;
    

}
.name-tile{
    margin-left: 30px;
    color: #333;
    margin-bottom: 5px;
}
.date{
    margin-left: 30px;
    color:#333;
    font-size: 12px;
    


}
.avatar{
    border-radius: 50%;
}

/* container-reviewer-end */
/* container start  */
.section-better{
    margin: 137px 149px 92px 151px;
    text-align: center;
    gap: 100px;
    line-height: 1.2;
}
.container-better{
    text-align: center;
}
.content-heading{
    font-size: 50px;
    padding: 71px 0px 20px 0px;
    font-weight: bold;
    color: #000000;
}
.pragaph-title{
    color:#333;
}
.button4{
    margin-top: 20px;
}
.banner-photo{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    border-radius: 48px;
}
/* container start  */
.section-information{
    display: flex;
    justify-content: space-between;
    margin: 92px 150px 14px 150px;
    gap:200px;

}
.header-title{
    font-size: 57px;
    font-weight: bold;
    text-align: left;
   
}
.content-email{
    padding: 71px 0 71px 190px;
}
.email{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border:none;
    color: #333;
    



}
.name{
     width: 497px;
    height: 70px;
    border-radius: 10px;
    border:none;
    color: #333;

}
.message{
     width: 497px;
    height: 140px;
    border-radius: 10px;
    border:none;
    color: #333;
}
.button5{
     width: 497px;
    height: 60px;
}
/* main section end*/
/* footer section start */
.footers-section{
    width: 100%;
    height: 428px;
    background-color: #8b8b8b;
    text-align: center;
    

}
.footer-logo{
    font-size: 100px;
    padding-top: 104px;
    padding-bottom: 10px;
    color: #4E47FF;
}
.footer-pragraph{
    padding-left: 380px;
    padding-right: 380px;
    color: #222222;
}
.nav ul{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:30px;
    list-style: none;
    
}
ul a{
    text-decoration: none;
    color:#222222;
    margin-top: 20px;
    font-size:18px;
}
ul a:hover{
    color: #fff;
    font-size: 21px;
}
.edite{
    margin-top: 100px;
    margin-bottom: 10px;
    
    color: #383838;
    font-style: italic;
    font-size: 14px;
}
span{
    color:rgb(143, 70, 1);
}
/* footer section end */
